@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
  ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
  ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
  ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
  ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
  Common styling starts here
  ========================================================================== */

  :root {
    --text-color: #444;
    --button-bg-color: #1bbc9b;
    --button-active-hover-bg-color: #16a086;
    --button-text-color: #fff;
    --time: .2s ease-in-out;
  }

  *, *::before, *::after { box-sizing: border-box; }

  body {
    background-color: #16a086;
    font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
  }

  .container {
    width: 85.17%;
    max-width: 1149px;
    margin: 0 auto;
  }

  .wrapper {
    width: 91.99%;
    margin: 0 auto;
  }

  a { text-decoration: none; }
  ul { list-style-type: none; }

  li, a {
    display: inline-block;
    color: #ffffff;
  }

  .btn {
    padding: 13px 14px 10px 14px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
  }
/* ==========================================================================
  Common styling ends here
  ========================================================================== */

/* ==========================================================================
  Header ends here
  ========================================================================== */

  header {
    width: 100%;
    background-color: var(--button-text-color);
  }

  header .wrapper { 
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* .logo, .navbar { flex: 1; } */
  
  /* ------------- Logo starts here ------------- */
  .logo {
    display: flex;
  }

  .logo-image {
    width: 55px;
    height: 49px;
  }

  .logo-image img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-text {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-title {
    color: var(--text-color);
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .logo-description {
    color: var(--text-color);
    font-size: 15px;
    text-transform: capitalize;
  }

  /* ------------- Logo ends here ------------- */

  /* ------------- Navbar starts here ------------- */

  .menu { margin: 0 3px;}

  .menu-link {
    font-size: 15px;
    transition: var(--time);
  }

  @media screen and (min-width: 767px) {
    .menu-link:hover {
      background-color: var(--button-bg-color);
      color: #fff;
    }
  }

  /* ------------- Navbar ends here ------------- */
/* ==========================================================================
  Header ends here
  ========================================================================== */

/* ==========================================================================
  Main starts here
  ========================================================================== */

  /* ------------- Banner starts here ------------- */

  .banner .wrapper, 
  .banner img {
    width: 100%;
    height: 453px;
  }

  .banner img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* ------------- Banner ends here ------------- */

  /* ------------- Portfolio starts here ------------- */

  .portfolio {
    width: 100%;
    background-color: var(--button-text-color);
  }

  .portfolio .wrapper { padding: 51px 0; }

  .portfolio-header { 
    text-align: center; 
    margin-bottom: 34px;
    color: var(--text-color);
  }

  .headline {
    margin-bottom: 9px;
    font-size: 29px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .subheadline::first-letter { 
    letter-spacing: 1px;
    text-transform: capitalize; 
  }

  .portfolio-links { text-align: center; }
  .portfolio-links .link:first-child .btn { text-transform: lowercase; }
  .portfolio-links .link:first-child .btn::first-letter { text-transform: capitalize; }

  .portfolio-links .btn {
    margin: 0 6.5px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: bold;
    letter-spacing: 2px;
  }

  .portfolio-links .btn.active { background-color: var(--button-active-hover-bg-color); }

  .grid-gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .grid-image { 
    width: calc(264.25px - 64px); 
    height: 182px;
    margin: 15px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .image-container { 
    width: 100%; 
    height: inherit;
  }

  .image-container img {
    width: 100%;
    height: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .grid-image .overlay { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background-color: rgba(27, 188, 155, 0.8);
  }

  .grid-image:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .overlay-image-container { margin-bottom: 20px; }

  .overlay-title, 
  .overlay-description { text-transform: capitalize; }

  .overlay-title {
    margin-bottom: 5px;
    font-size: 19px;
  }

  .overlay-description { font-size: 15px; }


  

  /* ------------- Portfolio ends here ------------- */
/* ==========================================================================
  Main ends here
  ========================================================================== */